.logo {
  object-fit: contain;
  padding-left: 50px;
  height: 100px;
}

a.nav-link {
  color: white;
}

a.nav-link:hover {
  color: rgb(220, 214, 214)
}



.navbar-bg {
  background-color: #377F2F;
}

.btn.start-btn {
  margin-left: 20px;
  background-color: white;
  color: #377F2F;
}

.btn.start-btn:hover {
  background-color: rgb(220, 214, 214);
  color: #377F2F;
}
